@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.navbar{
  font-family: "Poppins", sans-serif;
  font-size:17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px grey;
  border:solid gray !important;
  /* background-image:linear-gradient(120deg, #a8e6cf 0%, #f2f6a2 100%); */
  /* background: linear-gradient(120deg, #00ff87 0%, #00b8ff 100%); */

  /*linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)*/
}

.active{
  border-bottom:2px solid black ;
}

.nav-link{
  font-weight: 300 important;
}

.navbar-brand{
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  /* color:red; */
}

.footer{
  color:white;
  padding: 25px;
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  background-color:black;
}
.footer a{
  text-decoration: none;
  color:white;
  padding:10px;
}

.footer a:hover{
  color:orange;
  border-bottom: 2px solid black;
}

/*======== page not found css ======= */
.pnf {                  
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


